<div class="row" id="id01">
  <div class="col-md-5 offset-md-3 mt-4 " id="loginContainer" >
    <h3>Login User</h3>
  <form  class="form-group" [formGroup]="loginUserGroup">

    <label for ="loginUsername">Username</label>
    <input type="text"  
      name="username"
      required
      class="form-control"
      id="loginUsername"
      formControlName = "UserName">

    <label for="loginPassword">Password</label>
    <input type="password" 
      name="password"
      required
      class="form-control"
      id="loginPassword"
      formControlName = "Password">

    <br>

    <button  class="btn btn-primary col-5" [disabled]="loginUserGroup.invalid"
      type="submit" (click)="onSubmit(loginUserGroup)">Login <i class="fas fa-sign-in-alt"></i></button>
    <button  class=" btn btn-danger col-5 float-right" type =" button" (click)="cancel('/index.html')" >Cancel <i class="fas fa-ban"></i></button>   
  </form>
  <a href="#">Forgot password?</a>
  </div>
</div>
