<div class="row">
  <!-- the id RegisterContainer is used in the css file -->
  <div class="col-md-5 offset-md-3 mt-4 " id="RegisterContainer" >
    <h3>Register New User</h3>
    <form  class="form-group" [formGroup]="registerUserGroup">
      <!-- username is required -->
      <label for="registerUsername">Username</label>
      <input type="text"  
        name="username"
        required
        class="form-control"
        id="loginUsername"
        formControlName = "UserName">
      <!-- password is required -->
      <label for="registerPassword">Password</label>
      <input type="password"  
        name="password"
        required
        class="form-control"
        id="loginPassword"
        formControlName = "Password">
      <!-- IsAdmin is disabled but we assigned the value false -->
      <label for="isAdmin">isAdmin</label>
      <input type="text" 
        name="isAdmin"
        value="false"
        disabled
        required
        class="form-control" 
        id="isAdmin"         
      >

      <br>
      <!-- register button -->
      <button  class="btn btn-primary col-5"  
        [disabled]="registerUserGroup.invalid"
        type="submit" 
        (click)="onSubmit(registerUserGroup)"> Register <i class="fas fa-sign-in-alt"></i></button>
        <!-- cancel button -->
      <button  class=" btn btn-danger col-5 float-right" 
        type =" button" 
        (click)="cancel('/index.html')">Cancel <i class="fas fa-ban"></i></button>
     
    </form>
    <a href="#">Forgot password?</a>
  </div>
</div>

  