<div class="card bg-dark h-100">

  <div class="card-header text-center" style="background-color: #111;">
    <h4>Match Making</h4>
  </div>

  <!-- <div class="main">
    <ngx-wheel #wheel
    width='400'
    height='290'
    spinDuration='8'
    [disableSpinOnClick]='true'
    [items]='items'
    [innerRadius]='20'
    [spinAmount]='10'
    [textOrientation]='textOrientation'
    [textAlignment]='textAlignment'
    pointerStrokeColor='black'
    pointerFillColor='gold'
    [idToLandOn]='idToLandOn'
    (onSpinStart)='before()'
    (onSpinComplete)='after()'
    >
    </ngx-wheel>
    <br/>
  </div> -->
  <!-- <div class="main">
    <button (click) = "[reset(), spin()]" class="btn btn-warning">SPIN</button>
  </div> -->

  <div class="container h-100">
    <div class="row mt-4 justify-content-md-center" style="height: 50%;">
      <div class="col col-6 h-100">
        <div class="card bg-dark h-100">
          <div class="card-header text-center" style="background-color: #111;">
            <h5>Joined Players</h5>
          </div>
          <div class="container bg-secondary h-100 overflow-auto">
            <table class="table">
              <tr *ngFor = "let user of joinedUsers">
                <i class="fas fa-user-circle mr-2"></i><strong>{{user | uppercase}}</strong>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col col-6 h-100">
        <div class="card bg-dark h-100">
          <div class="card-header text-center" style="background-color: #111;">
            <h5>Your Match</h5>
          </div>
          <div class="container bg-secondary h-100 overflow-auto">
            <div class="mt-2 card bg-dark text-center" style="padding: 2rem">
              <i class="mt-1 fas fa-user-circle" style="font-size: 5rem;"></i><strong>{{counterpart | uppercase}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 justify-content-md-center" style="height: 40%;">
      <div class="col-12 h-100">
        <div class="card bg-dark h-100">
          <div class="card-header text-center" style="background-color: #111;">
            <h5>Selected Game</h5>
          </div>
          <div class="container bg-secondary h-100">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
