<div style="height: 100vh;">
  <div class="row justify-content-md-center">
    <div class="col col-12">
      <div class="p-2 text-center text-warning" style="background-color: #111;">
        <img src="assets/images/lobby.png" alt="lobby" style="height: 15vh;">
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-md-center" style="height: 70vh;">
    <div class="col col-3">
      <div class="bg-dark" style="height: 78vh;">

      </div>
    </div>
    <div class="col col-6" style="height: 78vh;">
      <div class="p-2 text-center text-white" style="background-color: #111; height: 7vh">
        <h2>Rooms
          <button class="btn btn-primary ml-2" (click)="reloadRoomList()"><i class="fas fa-redo"></i></button>
          <button class="btn btn-primary ml-2" (click)="showInputRoomId()"><i class="fas fa-plus"></i></button>
        </h2>
      </div>
      <div class="bg-dark" style="height: 64vh;">
        <ul class="list-group list-group-flush text-white overflow-auto">
          <li>
            <div *ngIf = "isInputRoomId" class="input-group">
              <input type="text" [(ngModel)] = "roomIdInput" class="form-control" placeholder="Enter a room name">
              <button class="btn btn-primary" type="button" (click)="hideInputRoomId(); joinRoom(username, roomIdInput)">Add</button>
            </div>
          </li>
          <li *ngFor = "let room of rooms" class="list-group-item bg-dark">
            <h4>
              <div *ngIf = "room.id == roomId" class="mr-2 badge badge-danger"><i class="fas fa-star"></i></div>
              <div *ngIf = "room.id != roomId" class="mr-2 badge badge-dark text-dark"><i class="fas fa-square-full"></i></div>
              {{room.id}}<span class="ml-3 badge badge-info">{{room.users.length}}</span>
              <button class="btn btn-warning" style="float: right" (click) = "goToRoom(room.id)">
              <i class="fas fa-sign-in-alt"></i></button>
            </h4>
          </li>
        </ul>
      </div>
      <div class="col col-12 bg-dark text-center">
        <button class="mb-1 btn btn-warning container" (click)="goToMain()">
          <img src="assets/images/back.png" alt="back" style="height: 5vh;">
        </button>
      </div>
    </div>
    <div class="col col-3">
      <div class="bg-dark" style="height: 78vh;">

      </div>
    </div>
  </div>
</div>

