<div class="container-fluid">
  
  <!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Icon
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Item</a></li>
              <li><a class="dropdown-item" href="#">Item</a></li>
              <li><a class="dropdown-item" href="#">Item</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Party Game</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <button class="btn btn-outline-secondary" type="submit">Account</button>
        </ul>
      </div>
    </div>
  </nav> -->
</div>
<div class="container">
  <app-layout></app-layout>
</div>
