<!-- Top Navigation Bar-->
<div class="container">
  <nav class="navbar navbar-expand-lg text-white bg-dark navbar-dark">
    <div class="container-fluid">
      <div class="col-2">
        <app-sidenav></app-sidenav>
      </div>
      <div class="col-8 text-center">
        <img src="assets/images/title.png" alt="title" style="height:50px">
      </div>
      <div class="dropdown">
          <a class="nav-link btn btn-dark fas fa-user" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-controller="Management" asp-action="">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink = "/Login" routerLinkActive="active">Login</a></li>
            <li><a class="dropdown-item" routerLink = "/Register" routerLinkActive="active">Register</a></li>
          </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Contents Layout-->
<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-layout></app-layout> -->
</div>