<div class="h-50 card bg-dark overflow-auto"> <!-- added overflow-auto -->
  <div class="card-header text-center" style="background-color: #111;">
    <h4>Leaderboard</h4>
  </div>
  <div class="m-2">
    <table class="table table-sm">
      <tr *ngFor = "let leader of leaders" class="text-white bg-dark">
        <td>
          <i class="fas fa-user-circle mr-2"></i>{{leader.username | uppercase}}
        </td>
        <td>
          {{leader.score}}
        </td>
      </tr>
    </table>
  </div>
</div>
