<div class="container h-100">
  <div class="row mt-4 justify-content-md-center">
    <div class="col col-8 h-100">
      <div class="card bg-dark h-100">
        <div class="card-header text-white text-center" style="background-color: #111;">
          <h5><strong>ABOUT DOTNET PARTY GAMES</strong></h5>
        </div>
        <div class="container bg-dark text-white h-100">
          <div class="m-3">
            <P>
              Dotnet Party Games is a multiplayer mini-game roulette- a web-based application that will allow users to compete with each other in a series of simple browser games. You can make an account and queue into live matchmaking allowing users to actively compete with each other through a variety of different web games. Here, game stats can be tracked and provided within a user’s profile and a global leaderboard can be established. After a game session, users will have the option to rematch or requeue into matchmaking, where the process will be repeated. Relevant game statistics will be recorded and available for access within a user profile (wins/losses/personal best(PB)/performance).
            </P>
          </div>
          <table class="container mt-5 mb-3 text-center">
            <div>
              <h5><strong>CONTACTS</strong></h5>
            </div>
            <tr>
              <td>Thomas Moerschel</td><td></td>
            </tr>
            <tr>
              <td>Suraj Kalika</td><td></td>
            </tr>
            <tr>
              <td>Klaus Lawson</td><td></td>
            </tr>
            <tr>
              <td>Seunghoon Lee</td><td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


