<div class="card bg-dark">
  <div class="card-header text-center" style="background-color: #111;">
    <h4 class="fas fa-comments"> Live Chat</h4>
  </div>
</div>
<div class="container-fluid">
        <div class="row-md-9 scroller">
            <div class="chat-container">
                <ng-container >

                    <!-- chat header -->
                    <div class="chat-header">
                        <i class="fas fa-comments" > Global</i>
                    </div>

                    <!-- chat body -->
                    <div class="chat-body scroller"  data-bs-offset="0"  tabindex="0">
                        <div *ngFor="let item of messageArray"
                            [ngClass]= "item?.user === currentUser?.userName && 'same-user'"
                            >
                            <p class="message-container">{{item?.message}}<br><span style="float: right; color: rgb(194, 145, 194);">{{item?.user}}</span></p>
                            <p style="color: black;"></p>

                        </div>
                    </div>
                    <!-- chat footer -->
                    <div class="chat-footer">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group mb-0">
                                    <input type="text"
                                            placeholder="type a message"
                                            class="form-control"
                                            [(ngModel)]="messageText"
                                            (keyup)="$event.keyCode === 13 && sendMessage()"
                                    />
                                </div>
                            </div>
                            <div class="col-md-1 text-center align-self-center">
                                <button class="btn btn-success fas fa-paper-plane" (click)="sendMessage()"></button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

</div>
