<h1>Current Player: {{ player }} </h1>
<div>
  <button class="mt-3 mb-3 btn btn-primary" nbButton outline status="danger" (click)="newGame()">Start new Game</button>
</div>


<div style="margin: auto; width: 50%">
  <main style = "grid-template-columns: repeat({{numOfPlayers+1}},{{squareHeight}}%);">
    <app-square
        *ngFor="let val of squares; let i = index"
        [value]="val"
        (click)="makeMove(i)"
        [fontSize]='fontSize'
        >
    </app-square>
  </main>
</div>

<h2 *ngIf="winner">
    {{ winner }} won!
</h2>


